/*##################################################### */
/*
  __             _       
 / _| ___  _ __ | |_ ___ 
| |_ / _ \| '_ \| __/ __|
|  _| (_) | | | | |_\__ \
|_|  \___/|_| |_|\__|___/
*/
/*fonts */
/*##################################################### */




/*##################################################### */
/*
                 _       _     _           
__   ____ _ _ __(_) __ _| |__ | | ___  ___ 
\ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 \ V / (_| | |  | | (_| | |_) | |  __/\__ \
  \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
                                           
*/
/*variables and colors*/
/*##################################################### */




/*##################################################### */
/*
 ____            _            _              _   _____         _   
| __ )  ___   __| |_   _     / \   _ __   __| | |_   _|____  _| |_ 
|  _ \ / _ \ / _` | | | |   / _ \ | '_ \ / _` |   | |/ _ \ \/ / __|
| |_) | (_) | (_| | |_| |  / ___ \| | | | (_| |   | |  __/>  <| |_ 
|____/ \___/ \__,_|\__, | /_/   \_\_| |_|\__,_|   |_|\___/_/\_\\__|
                   |___/                                           
*/
/*Body and text elements*/
/*##################################################### */

body{
    color:white;
    background-color:black;
    background-image:url("../media/general/background.jpg");
    background-size:cover;
    margin:3vw 10vw;
    align-items:center;
}

h1{
    font-size:3vw;
    margin:0;
}
h2{
    font-size:2.5vw;
    margin:0;
}


p{
    font-size:1.2vw;
    margin: 1vw ;
}

ul{
    padding:0;
}


a{
    text-decoration:none;
}

img{
    margin:.75vw ;
}

li{
    margin:1vw;
    list-style:none;
}

.zinenav{
    display:flex;
    justify-content:center;
}

.zinenav>*{
    margin:auto;
}

.zinenav>a{
    border-width:2px;
    border-style:solid;
    padding:.5vw;
}

.zine-cover{
    margin:0;
    padding:0;
    object-fit:cover;
    max-height:20vw;
    max-width:100%;
    border-width:2px;
    border-color:white;
    border-radius:1vw;
    border-style:solid;
}

.zine-cover:hover{

    box-shadow:0 0 .45vw white;
    border-width:4px;
}

#zineimages{
    width:100%;
    display:flex;
    justify-content:center;
}




.card{
    background-color:black;
    margin: 1vw 0;
    padding:2vw 6vw;
    border-style:solid;
    border-width:2px;
    border-radius: 1vw;
    box-shadow:0 0 .45vw white;
    border-color:white;
}

.t-left{
text-align:left;
}

.t-right{
text-align:right;
}

.f-left{
    float:left;
}

.navbtn,.footer-link {
    padding:.2vw;
    color:white;
    text-decoration:none;
    font-size:2vw;
    border-width:2px;
    border-radius:1vw;
    border-style:solid;
    border-color:white;
}

.navbtn:hover,.footer-link:hover{

    box-shadow:0 0 .45vw white;
    color:black;
    background-color:white;
}

.clearfix{
    overflow:auto;
}

#logo{
    margin-left:2vw;
    font-size:3vw;
    font-weight:5000;
}

#footer-items{
    justify-content:center;
    display:flex;
    
}
#footer-items>li{
    margin:auto;
}


#navbar-main{
    min-width:15vw;
    margin-left:auto;
    padding:0;
}

#navbar-list{
    
    text-align:right;
}

#header-main{
    margin:0;
    align-items:center;
    display:flex;
}

#about-img{
    
    max-width:20vw;
    max-height:450px;
    
}

#zine{
    text-align:center;
    padding:5vw;
}

#rainbow{
    animation-duration: 3s;
    animation-name: rainbow;
    animation-iteration-count:infinite;
}


@keyframes rainbow{
    0%{
        color:#e1ff00;
    }
    33%{
    
        color:#F000DA;
    }
    66%{
    color:cyan;
    }
    100%{
    color:#e1ff00;
    }
}
