@import url("base.css");

/*############################################################ */
/*                       GRIDS                                 */
/*############################################################ */

.gridmain {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 35vw 35vw auto;
  grid-template-areas:
    " .           navbar       navbar       ."
    " .           title        title        ."
    " .           fullbody     fullbody        ."
    " .           left     right      ."
    " . bottomcenter bottomcenter  .";
}

img {
  border-radius: 12px;
}
.commgif {
  /*filter: brightness(2.4); */
  filter: hue-rotate(-50deg);
  object-fit: contain;
  width: 50%;
}
.comic,
.pfp {
  max-height: 25vw;
}
.fullbody {
  max-height: 30vw;
}

.tos {
  max-height: 15vw;
}
.fullbody-example {
  max-width: 100%;
  max-height: 20vw;
  object-fit: cover;
}
.comic-example {
  max-width: 100%;
  max-height: 20vw;
  object-fit: cover;
}
.pfp-example {
  max-width: 100%;
  max-height: 15vw;
  object-fit: contain;
}
.sauce {
  width: 100%;
  list-style: none;
  text-shadow: none;
  image-rendering: auto;
  font-size: 2vw;
  margin: 1vw 0.6vw 0;
  padding: 1.5vw;
  width: 0.8em;
  height: 0.8em;
  border-radius: 25%;
  background-color: var(--sauce-bg-color);
  font-family: "Sauce Code Pro";
}

.sauce > li {
  margin: 0;
}

.sauce:hover {
  text-decoration: none;
  background-color: var(--main-fg-color);
}

.icon {
  image-rendering: auto;
}
/*######################################################*/
/*                Mobile responsive                     */
/*######################################################*/

@media only screen and (max-width: 1100px) {
  .gridmain {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30vw auto auto auto;
    grid-template-areas:
      " navbar"
      "title                "
      "fullbody                "
      "left                     "
      "right                   "
      "tos                     "
      "contact                 "
      " bottomcenter ";
  }


  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 15vw;
  }

  .commgif {
    min-width: 100%;
    height: auto;
    margin: 0;
  }

  .comic,
  .pfp,
  .fullbody,
  .tos {
    max-height: 100%;
  }
  .fb-examples {
    display: flex;
    overflow-x: scroll;
  }

  .fullbody-example {
    max-width: auto;
    border-radius: 2vw;
    margin: 2vw;
    width: auto;
    max-height: 70vw;
  }
  .comic-example {
    max-height: 80vw;
    object-fit: contain;
  }
  .pfp-example {
    border-radius: 2vw;
    max-height: 40vw;
    object-fit: contain;
  }
  a li {
    font-size: 4vw;
  }
  .sauce {
    width: 100%;
    list-style: none;
    text-shadow: none;
    image-rendering: auto;
    font-size: 10vw;
    margin: 1vw 0.6vw 0;
    padding: 4vw;
    width: 0.8em;
    height: 0.8em;
    border-radius: 25%;
    background-color: var(--sauce-bg-color);
    font-family: "Sauce Code Pro";
  }

  .sauce > li {
    font-size: 8vw;
    margin: 0;
  }

  .sauce:hover {
    text-decoration: none;
    background-color: var(--main-fg-color);
  }
}
