/*############################################################ */
/*                       GRIDS                                 */
/*############################################################ */

.gridmain {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 35vw 35vw auto;
  grid-template-areas:
    " .           navbar       navbar       ."
    " .           title        title        ."
    " .           fullbody     fullbody        ."
    " .           left     right      ."
    " . bottomcenter bottomcenter  .";
}

img {
  border-radius: 12px;
}
.commgif {
  /*filter: brightness(2.4); */
  filter: hue-rotate(50deg);
  object-fit: contain;
  width: 50%;
}
.comic,
.pfp {
  max-height: 25vw;
}
.fullbody {
  max-height: 30vw;
}

.tos {
  max-height: 15vw;
}
.fullbody-example {
  max-width: 100%;
  max-height: 20vw;
  object-fit: cover;
}
.comic-example {
  max-width: 100%;
  max-height: 20vw;
  object-fit: cover;
}
.pfp-example {
  max-width: 100%;
  max-height: 15vw;
  object-fit: contain;
}

.sauce {
  list-style: none;
  image-rendering: auto;
  font-size: 1.75vw;
  margin: 1vw 0.6vw 0;
  padding: 0.6em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 25%;
  background-color: #f54be434;
  font-family: "Sauce Code Pro";
}
.sauce:hover {
  background-color: #f54be4;
}

.icon {
  image-rendering: auto;
}
/*######################################################*/
/*                Mobile responsive                     */
/*######################################################*/

@media only screen and (max-width: 1100px) {
  .gridmain {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 23vw auto auto auto;
    grid-template-areas:
      " navbar"
      "title                "
      "fullbody                "
      "pfp                     "
      "comic                   "
      "tos                     "
      "contact                 "
      " bottomcenter ";
  }

  .link.sauce {
    max-width: 3vw;
    min-width: 3vw;
    list-style: none;
    font-size: 5vw;
    margin: 2.2vw;
    padding: 2.2vw;
    width: 3vw;
    height: 3vw;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 15vw;
  }



  .commgif {
    min-width: 100%;
    height: auto;
    margin: 0;
  }

  .comic,
  .pfp,
  .fullbody,
  .tos {
    max-height: 100%;
  }
  .fullbody-example {
    max-width: 60%;
    object-fit: contain;
  }
  .comic-example {
    max-width: 90%;
    object-fit: contain;
  }
  .pfp-example {
    width: 85%;
    object-fit: contain;
  }
  a li {
    font-size: 4vw;
  }
}
