/*############################################################ */
/*                       GRIDS                                 */
/*############################################################ */



.gridmain {
  display: grid;
  grid-template-columns: auto 20vw 50vw auto;
  grid-template-areas:
    ". navbar       navbar       .  "
    ". title        title        .  "
    ". chat         about         . "
    ". left         right        .  "
    ". bottomcenter bottomcenter .  ";
}

/*##############################################*/
/*              Social Media Icons              */
/*##############################################*/

#niii {
  position: absolute;
  top: -4vw;
  left: 14vw;
  transition: 0.3s ease-in-out;
  filter: hue-rotate(10deg);

  animation-duration: 5s;
  text-decoration: none;
  animation-name: niii;
  animation-iteration-count: infinite;
}

#chat{
  height:100%;
}

@keyframes niii {
  0%{
    transform: translatey(-.4vw);
  }
  50%{

    transform: translatey(.4vw);
  }
  100%{
    transform: translateY(-.4vw);
  }
}


#niii:hover {
  top: -1vw;
}

#niii {
  object-fit: contain;
  max-width: 12vw;
}
.about {
  max-height: 100%;
}
.about-item{
  /*min-width: 100%;
  width:100%; Create fork for new about page later
  max-width: 100%;*/ 
}

.about-div{
  /*max-height:20vw;
  display: flex;
  overflow-x: scroll;*/
}
.about-img {
  margin: 3% 0 0 0;
  /*min-height:70%;
  min-width:30%;*/
  max-width:50%;
}


.sauce {
  width: 100%;
  list-style: none;
  text-shadow: none;
  image-rendering: auto;
  font-size: 1.75vw;
  margin: .5vw;
  padding: 1vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 25%;
  background-color: var(--sauce-bg-color);
  font-family: "Sauce Code Pro";
}

.sauce > li {
  margin: 0;
}

.icon {
  filter: grayscale(100);
  image-rendering: auto;
}

.icon.kofi {
  margin-top: 0.3vw;
  margin-left: 1.3vw;
  color: var(--alt-fg-color);
  width: 1.75em;
  height: 1.75em;
}
.icon.fa {
  margin-left: 1vw;
  margin-top: 0.3vw;
  color: var(--alt-fg-color);
  width: 1.75em;
  height: 1.75em;
}
.icon.ng {
  margin-left: 1vw;
  margin-top: 0.2vw;
  color: var(--alt-fg-color);
  width: 2.5em;
  height: 2.5em;
}
.sauce:hover {
  text-decoration: none;
  background-color: var(--main-fg-color);
  box-shadow: 0 0 0.5vw var(--main-fg-color);
}
.funnygif {
  width: 47.6%;
  object-fit: contain;
}

.niii {
  width: 38%;
  object-fit: contain;
}

.welcome {
  filter:hue-rotate(10deg);
  width: 40%;
  object-fit: contain;
}


.fire {
  filter:hue-rotate(70deg);
  width: 60%;
  margin: auto;
}

.art {
  height: 20vw;
}
.imageswitch {
  object-position: 50% 30%;
  min-width:100%;
  max-height:15vw;
  margin: 0;
  border-radius: .25vw;
  object-fit: cover;
}
.imagecontainer{
  border-width:.2vw;
  border-radius: .5vw;
  border-style: solid;
  border-color: var(--main-fg-color);
  box-shadow: 0 0 .4vw var(--main-fg-color);
  margin:0;
  padding:0;
  object-fit: cover;
  width:300%;
}

.imagecontainer:hover{
  border-color: var(--alt-fg-color);
  box-shadow: 0 0 1vw var(--main-fg-color);
}



.update-box {
  padding: 1vw;
  max-height: 16.3vw;
  overflow-y: scroll;
}
.update-text {
  text-align: left;
  font-size: 0.8vw;
}
h5.update-text {
  color: var(--main-fg-color);
}

.blog-index {
  list-style-image: url("/media/gifs/bluebunny.gif");
  margin: 0;
}

.blog-index > li {
  margin-left: 1vw;
  font-size: 0.8vw;
}

/*######################################################*/
/*                Mobile responsive                     */
/*######################################################*/

@media only screen and (max-width: 1100px) {
  .gridmain {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "          navbar               "
      "          title                "
      "          about                "
      "          left                 "
      "          right"
      "          updates             "
      "          topleft             "
      " bottomcenter ";
  }

  #niii {
    display: none;
  }
  #find-me{
    display:block;
  }
  .sauce:hover {
    box-shadow: 0 0 1.25vw var(--main-fg-color);
  }

  .blog-index > li {
    list-style-image: url("/media/gifs/bluebunny.gif");
    font-size: 1.25vw;
    text-align: left;
  }
  .welcome {
    margin: 1vw auto 1vw;
    min-width: 100%;
    height: auto;
  }
  .about-img {
    margin: auto;
    max-width: 70%;
  }
  .about {
    max-height: 100%;
  }
  .update-box {
   min-height: 25vw;
  }
  .update-text {
    margin: 0.5vw;
    text-align: left;
    font-size: 2.5vw;
  }

  .fire {
    margin: 1vh 0 1vh;
    width: 100%;
  }

  a li {
    font-size: 6vw;
  }
  .link.sauce {
    max-width: 3vw;
    min-width: 3vw;
    list-style: none;
    margin: 1vw;
    padding: 4vw;
    width: 3vw;
    height: 3vw;
  }
  .icon {
    margin: 0em;
    object-fit: contain;
  }
  .icon.kofi {
    margin-left: 0.4vw;
    margin-top: 0.3vw;
    color: var(--alt-fg-color);
    width: 1.6em;
    height: 1.6em;
  }
  .icon.fa {
    margin-left: 0.3vw;
    margin-top: 0.3vw;
    color: var(--alt-fg-color);
    width: 1.6em;
    height: 1.6em;
  }
  .icon.ng {
    image-rendering: pixelated;
    margin-left: 0vw;
    margin-top: 0vw;
    color: var(--alt-fg-color);
    width: 2.5em;
    height: 2.5em;
  }
  .art{
    max-height: 100vw;
  }
  .imageswitch {
    object-position: 50% 30%;
    border-radius: 1vw;
    max-width: 100vw;
    object-fit: cover;
    min-height: 80vw;
  }
  .imagecontainer{
    margin:1vw;
    min-height: 80vw;
    box-shadow: 0 0 2vw var(--main-fg-color);
    border-width: .8vw;
    border-radius: 1.8vw;
  }

  .imagecontainer:hover{

    box-shadow: 0 0 3vw var(--main-fg-color);
  }
  .blog-index > li {
    list-style: none;
    list-style-image: none;
    text-align: center;
    font-size: 3vw;
  }
}
