/*############################################################ */
/*                       GRIDS                                 */
/*############################################################ */

.gridmain {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 15vw 55vw auto;
  grid-template-rows: auto 5vw auto auto;
  grid-template-areas:
    " .    navbar    navbar    topright "
    " .    title        title        .        "
    " .    bloglist     blogpost     .        "
    " bottomleft bottomcenter bottomcenter bottomright ";
}


.title-img{
  height:5vw;
  object-fit: contain;
}

.blog-index > li {
  list-style-image: url("/media/gifs/bluebunny.gif");
  font-size: 1.25vw;
  text-align: left;
}
.fill {
  min-height: 100%;
}

.header {
  min-width: 100%;
  margin: auto;
  display: flex;
}
.title {
  grid-area: title;
  width:100%;
}
title{
  width:100%;
}

.titleblog {
  grid-area: blogtitle;
}

.content > img {
  object-fit: contain;
  height: 15vw;
  max-width: 100%;
}

.date {
  color: violet;
  margin: 0;
  grid-area: date;
}

.subtitle {
  margin-top: 1vw;
  grid-area: subtitle;
}

.content {
  text-align: center;
  grid-area: content;
  overflow-wrap: break-word;
}

/*######################################################*/
/*                Mobile responsive                     */
/*######################################################*/

@media only screen and (max-width: 1100px) {
  .gridmain {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "navbar"
      "title"
      "bloglist"
      "blogpost"
      "bottomcenter";
  }

  .blog-index > li {
    list-style: none;
    list-style-image: none;
    text-align: center;
    font-size: 3vw;
  }
  .title-img {
    height:100%;
    max-width: 50%;
    object-fit: contain;
  }
  .splash-img {
    float: none;
    height: 10%;
    max-width: 50vw;
    object-fit: contain;
  }
}
