[submodule ".themes/FlatColor2"]
	path = .themes/FlatColor2
	url = https://github.com/jasperro/FlatColor
[submodule ".config/ranger/plugins/devicons2"]
	path = .config/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2
