*{
  all:unset;
}

//variables
$fg:#f9188f;
$bg:#180d25;
$fg-alt:#3e2a47;
$bg-alt:#33173F;

window{
  background-color: $bg;
  border-style:solid;
  border-width:2px;
  border-color: $fg;
  border-radius:0;
  font-family: "Sauce Code Pro";
}

.btn{
  color:$fg;
  margin:10px;
  padding:10px;
  
}
