*{
  all:unset;
}

//variables
$fg:#5A6D95;
$bg:#121213;
$fg-alt:#6588d1;
$bg-alt:#2a2a2c;

window{
  background-color: $bg;
  border-style:solid;
  border-width:2px;
  border-color: $fg;
  border-radius:10;
  font-family: "Sauce Code Pro";
}

.btn{
  color:$fg;
  margin:10px;
  padding:10px;
  
}
