* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SauceCodePro Nerd Font Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color:rgba(14,23,35,1);
    padding: 0px ;
    margin:0px;
    color:#e6c3c1;
    border-style:solid;
    border-width:2px;
    border-color:#ffbd88;
    border-radius:20px;
    color: transparent;
}

window#waybar.hidden {
    opacity: 1;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: transparent;
}



/* #tray, button { */
/*     color:white; */
/*     border-style:solid; */
/*     border-width:0px; */
/*     border-color:#1b2e47; */
/*     border-radius:0; */
/* } */

#workspaces button:hover {
  border-width:0px;
  border-color:transparent;
  
}
#workspaces button.hidden{
    padding: 0 0px;
    background-color: transparent;
    color: #ffffff;
}
#workspaces button {
    box-shadow: none;
    text-shadow: inherit;
    border-color: transparent;
    border-width:2px;
    background-color: rgba(14,23,35,0);
    color:#e6c3c1;
    padding:0px 0px;
    margin:0px;

}
#workspaces button * {
    font-size:20px;
}

#workspaces button:hover {
  font-size:20px;
  border-color:#566593;
  color:#286dcc;
}

#workspaces button.active {
    color:#607bce;
}

#workspaces button.urgent {
}

#mode {
    border: 0px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-dunst,
#custom-powermenu,
#mpd{
    background-color:rgba(14,23,35,0);
    padding: 0px 0px; 
    margin: 10px;
    color:#e6c3c1;
    font-size:12px;
    /* border-style:solid; */
    /* border-width:2px; */
    /* border-color:#1b2e47; */
     border-radius:20px; 


}


#workspaces {
    margin: 10px; 
}


#clock {
    color: #e6c3c1;
}


#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
    color: #000000;
}

#memory {
}

#disk {
}

#backlight {

}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
  color:#e6c3c1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}


#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#custom-powermenu{
  font-size:12px;
  margin-bottom:30px;

}

#scratchpad.empty {
	background-color: transparent;
}
