* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SauceCodePro Nerd Font Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    color: transparent;
}

window#waybar.hidden {
    opacity: 1;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: transparent;
}



#tray, button {
    /* Use box-shadow instead of border so the text isn't offset */
    color:white;
    border-style:solid;
    border-width:2px;
    border-color:#211c39;
    border-radius:20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button.hidden{
    padding: 0 0px;
    background-color: transparent;
    color: #ffffff;
}
#workspaces button {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color:#0e0c18;
    color:#f6e0a4;
    margin-left:0;
    margin-right:0;
    padding: 5px 10px;

}
#workspaces button * {
    font-size:20px;
}

#workspaces button:hover {
  border-color:#FEAF66;
  background-color:#211c39;
}

#workspaces button.active {
    border-color:#FE2C77;
}

#workspaces button.urgent {
}

#mode {
    border: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-dunst,
#custom-powermenu,
#mpd {
    background-color:#0e0c18;
    padding: 20px 0px;
    color: #f6e0a4;

}


#window,
#workspaces {
    margin: 0px 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #f6e0a4;
}

#battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
    color: #000000;
}

#memory {
}

#disk {
}

#backlight {

}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
  color:#f6e0a4;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}


#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
