window {
    margin: 0px;
    background-color: #0C0A0F;
}

#input {
    margin: 5px;
    border: none;
    color: #94547b;
    background-color: #0C0A0F;
    border-radius: 10;
}

#input * {
	padding: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0C0A0F;
    border-radius: 10;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #0C0A0F;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d8c3c8;
} 

#entry:selected {
    background-color: #694A5D;
    border-radius: 7;
    outline: none;
}

#entry:selected * {
    background-color: #694A5D;
    border-radius: 7;
    outline: none;
}

#img {
	padding-left:10px;
	border:none;
	border-radius:4px;
}
