window {
    margin: 0px;
    background-color: #0D050B;
}

#input {
    margin: 5px;
    border: none;
    color: #d61583;
    background-color: #0D050B;
    border-radius: 10;
}

#input * {
	padding: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0D050B;
    border-radius: 10;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #0D050B;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e8c6f0;
} 

#entry:selected {
    background-color: #9C1A64;
    border-radius: 7;
    outline: none;
}

#entry:selected * {
    background-color: #9C1A64;
    border-radius: 7;
    outline: none;
}

#img {
	padding-left:10px;
	border:none;
	border-radius:4px;
}
