window {
    margin: 0px;
    background-color: #06102B;
}

#input {
    margin: 5px;
    border: none;
    color: #f175db;
    background-color: #06102B;
    border-radius: 12;
}

#input * {
	padding: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #06102B;
    border-radius: 12;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #06102B;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d4cedf;
} 

#entry:selected {
    background-color: #AC68A0;
    border-radius: 8;
    outline: none;
}

#entry:selected * {
    background-color: #AC68A0;
    border-radius: 8;
    outline: none;
}

#img {
	padding-left:10px;
	border:none;
	border-radius:4px;
}
