/*
 * vim: ft=less
 */

@define-color cc-bg rgb(18,18,19);

@define-color noti-border-color rgb(101,136,209);
@define-color noti-bg rgb(18,18,19);
@define-color noti-bg-darker rgb(38, 38, 38);
@define-color noti-bg-hover rgb(42,42,44);
@define-color noti-bg-focus rgb(18,18,19);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(90,109,149, 0.15);

@define-color text-color rgb(245,255,255);
@define-color text-color-disabled rgb(42,42,44);

@define-color bg-selected rgb(42,42,44);

*{
  font-family:"Mononoki Nerd Font Mono:style=Bold";
}

.notification-row {
  transition: all 200ms ease;
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}

.notification {
  transition: all 200ms ease;
  border-radius: 10px;
  box-shadow: none;
  margin:0px;
  margin-top: 10px;
  padding: 0px;
}

/* Uncomment to enable specific urgency colors 
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 12px;
}

.close-button {
  background: @noti-close-bg;
  color: @text-color;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 30px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  color: @text-color;
  transition: all 0.15s ease-in-out; }

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {
  border-radius: 10px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}

.inline-reply {
  margin-top: 8px;
}
.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
}
.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  border-radius: 10px;
  color: @text-color;
}
.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 2px solid transparent;
}
.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
  border: 2px solid transparent;
  border-radius: 10px;
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 10px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  transition: all 200ms ease;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid @noti-border-color;
  background: @cc-bg;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications > * {
	margin-top:10px;
	margin-left:10px;
	padding-left:10px;
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  min-width:1920px;
  background: alpha(black, 0);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  padding:0 10px;
  margin:20px 0;
  font-size: 1.6rem;
}
.widget-title > button {
  font-size: initial;
  margin:0;
  padding:6px;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
  border-radius: 10px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
		padding:0 10px;
	margin:0;
  margin-bottom: 20px ;
  font-size: 1.2rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @bg-selected;
}
.widget-dnd > switch slider {
  background: @noti-bg;
  padding:2px;
  border: 2px solid @noti-border-color;
  border-radius: 12px;
}

.widget-dnd > switch:checked slider {
  background: @noti-bg-hover;
	}

/* Label widget */
.widget-label {
		padding:0 10px;
  margin: 0 20px;
}

.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
	margin:0px;
	margin-top:10px;
	padding:0px;


  /* The parent to all players */
}

.widget-mpris > box 
{
	border-radius:10px;
	border: 2px solid @noti-border-color;
}
.widget-mpris-player {
		padding-bottom:0;
		margin-top:0;
		margin-bottom:0;
}

.widget-mpris-player > box > image{
		margin-bottom:10px;
		margin-top:10px;
	}
.widget-mpris-player > box > button {
	padding: 4px;
	margin:0 ;
	background-color:@noti-bg;
    border-radius:10px;
  	border: 2px solid @noti-border-color;
	margin-bottom:10px;
}

.widget-mpris-player > box > button:hover{
	color:@noti-border-color;
}


.widget-mpris-player > box > button:active{
	background-color:@noti-bg-hover;
	color:@text-color;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}
.widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-mpris > box > button {
  /* Change player side buttions */
	border-radius:8px;
	padding:0 10px ;
	margin:0;
	background-color:#121213;
	border-color:#121213
}
.widget-mpris > box > button:disabled {
  /* Change player side buttions insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
  margin: 8px;
  background-color: @noti-bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  	font-family:"ShureTechMono Nerd Font Mono";
	padding: 16px 40px;
	font-size:1.5rem;
	margin:8px;
	background: @noti-bg;
	border-radius: 10px;
	border: 2px solid @noti-border-color;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

/* Menubar widget */
.widget-menubar{
}

.widget-menubar>box>.menu-button-bar>button {
  font-size: 1.2rem;
  border-radius:10px;
  padding:16px;
  border: 2px solid @noti-border-color;
  background: @noti-bg-hover;
}

/* .AnyName { Name defined in config after #
  background-color: @noti-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
} */

.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Title widget */
.widget-inhibitors {
  margin: 20px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}
.widget-inhibitors > button:hover {
  background: @noti-bg-hover;
}

/* Volume widget */

.widget-volume, .widget-backlight {
	margin:0px;
	margin-top:10px;
	border-radius:10px;
	border: 2px solid @noti-border-color;
    background-color: @noti-bg;
    font-size: x-large;
}

.widget-volume>box>button {
		padding:0 10px;
    background: transparent;
    border: none;
}

.per-app-volume {
    background-color: @noti-bg-alt;
    padding: 4px 8px 8px 8px;
    margin: 8px ;
    border-radius: 12px
}
