/*
 * vim: ft=less
 */

@define-color cc-bg rgba(6,16,43,1);
@define-color cc-bg-alt mix(rgb(11,31,87), rgb(6,16,43),0.35);

@define-color noti-border-color mix(rgb(172,104,160), rgb(11,31,87),0.75);
@define-color border-color  mix(rgb(172,104,160), rgb(11,31,87),0.75);
@define-color fg-color #f175db;
@define-color noti-bg rgba(11,31,87,1);
@define-color noti-bg-darker rgb(38, 38, 38);
@define-color noti-bg-hover rgba(11,31,87,1);
@define-color noti-bg-focus rgba(6,16,43,1);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(172,104,160, 0.15);

@define-color text-color rgb(252,244,255);
@define-color text-color-disabled rgb(11,31,87);

@define-color bg-selected rgba(11,31,87,1);

*{
  font-family:"ShureTechMono Nerd Font Mono";
  color: @text-color;
}

window > box {
  margin: 8px;
  margin-left:4px;
  padding:0;
  border-radius: 0px;
  border-width:0;
  border-left:0;
  border-top:0;
  border-bottom:0;
}

.notification-row {
  transition: all 200ms ease;
  margin:0;
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}



.notification {
  background: #f175db;
  transition: all 200ms ease;
  border-radius: 8px;
  box-shadow: none;
  margin:0 8px;
  margin-left:0px;
  margin-top: 8px;
  padding: 0px;
}


.notification-group.collapsed *{
  background: #06102B;
  border-width:2px;
  box-shadow: none;
}


/* Uncomment to enable specific urgency colors 
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.notification-content {
  background: transparent;
  padding: 8px;
}

.close-button {
  background: @noti-close-bg;
  color: @text-color;
  text-shadow: none;
  padding: 0;
  margin:calc(8px *1.8);
  border-radius: 100%;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  box-shadow: none;
  background: @cc-bg;
  border: 2px solid @noti-border-color;
  color: @text-color;
  transition: all 0.15s ease-in-out; }

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  border-color:@fg-color;
  background: @noti-bg-hover;
}

.notification-default-action {
  border-radius:8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}


.inline-reply {
  margin-top: 8px;
}
.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
}
.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  border-radius: 12px;
  color: @text-color;
}
.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 2px solid transparent;
}
.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
  border: solid transparent;
  border-radius: 8px;
  padding: calc(8px * 0.2);

}

.body-image {
  margin-top: 6px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
    font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  transition: all 200ms ease;
  padding: 0px;
  border: 2px solid @fg-color;
  border-radius: 12px;
  background: @cc-bg;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

/* Window behind control center and on all other monitors */
.blank-window {
  min-width:1920px;
  background: alpha(black, 0);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
	padding:8px calc(8px * 1.6);
	margin:0;
  font-size: 1.6rem;
}
.widget-title > button {
  font-size: initial;
  margin:0;
  padding:6px 12px;
  color: @text-color;
  text-shadow: none;
  background: @cc-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
  border-radius:8px;
}
.widget-title > button:hover {
	background-color:@noti-border-color;
  border-color:@fg-color;
  color:@cc-bg;
}

/* DND widget */
.widget-dnd {
	padding:8px calc(8px * 1.6);
	padding-top:0; 
	margin:0;
	border: 2px solid @noti-border-color;
	border-radius:0 0 12px  12px ;
	border-width: 0 0 2px 0;

	font-size: 1.2rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @cc-bg;
	border: 2px solid @noti-border-color;
    box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @cc-bg-alt;
  color: @fg-color;
}
.widget-dnd > switch slider {
  background: @noti-bg;
  padding:2px;
  border: 2px solid @noti-border-color;
  border-radius: 12px;
}

.widget-dnd > switch:checked slider {
  background: @border-color;
  border-color: @fg-color;
	}

/* Label widget */
.widget-label {
		padding:0 8px;
  margin: 0 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
	margin:0;
	padding:8px 0;
	border: solid @border-color;
	border-width: 0 0 2px 0;
	border-radius:0 ;

  /* The parent to all players */
}

.widget-mpris > box 
{
	margin:0;
	padding:0;

}
.widget-mpris-player {
		padding:0;
		margin:0;
		padding-bottom:8px;
		margin-top:0;
		margin-bottom:0;
}

.widget-mpris-player > box{
	border-radius:0 ;
		padding:0;
		margin:0;
}
.widget-mpris-player > box > image{
		padding:0;
	border-radius:0 ;
		margin:8px;
		margin-left:8px;
		margin-right:0px;
}

.widget-mpris-player > box > button {
	padding: 4px;
	margin:0 ;
	color: @fg-color;
	background-color:@cc-bg;
    border-radius:8px;
  	border: 2px solid @border-color;
	margin-bottom:0px;
}

.widget-mpris-player > box > button:hover{
	border-color:@fg-color;
	box-shadow:none;
	color:@fg-color;
}


.widget-mpris-player > box > button:active{
	background-color:@noti-bg-hover;
	color:@text-color;
}

.widget-mpris-title {
	padding:0;
	margin-right: 4px;
  font-weight: bold;
  font-size: 1rem;
}
.widget-mpris-subtitle {
		margin-left:4px;
  font-size: 0.8rem;
}

.widget-mpris > box > button {
  /* Change player side buttions */
	border-radius: 8px; 
	border-width:0 2px;
	padding:0 10px ;
	margin:0px;
	box-shadow:none;
	background-color:@cc-bg;
	border-color:@border-color;
	color: @text-color;
}

.widget-mpris > box > button *{
		color:@fg-color;
	}

.widget-mpris > box > button:hover{
	background-color:@noti-border-color;
	border-color:@fg-color;
	color:@cc-bg-alt;
	}
.widget-mpris > box > button:disabled {

	background-color:@cc-bg-alt;
	border-color:@noti-border-color;
  /* Change player side buttions insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
	margin:0;
	padding:10px;
	padding-right:0;
	background-color: @cc-bg;
	border: 2px solid @border-color;
	border-width: 0 0 2px 0;
	border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  	font-family:"ShureTechMono Nerd Font Mono";
	padding: calc(8px * 1) calc(8px * 3);
	margin:4px;
	background-color:@cc-bg;
	border-radius: 8px;
	border: 2px solid @border-color;
	font-size:1.5rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button>*{
	font-size: 2rem;
	}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
	background-color:@noti-border-color;
  border-color:@fg-color;
  box-shadow:none;
}

/* Menubar widget */
.widget-menubar{
}

.widget-menubar>box>.menu-button-bar>button {
  font-size: 1.2rem;
  border-radius:12px;
  padding:16px;
  border: 2px solid @border-color;
  background: @noti-bg-hover;
}

/* .AnyName { Name defined in config after #
  background-color: @noti-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
}
*/

.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Title widget */
.widget-inhibitors {
  margin: 20px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}
.widget-inhibitors > button:hover {
  background: @fg-color;
  color: @cc-bg;
}

/* Volume widget */

.widget-volume, .widget-backlight {
	margin:0px;
	padding:8px calc(8px * 1.6);
	border-radius:0px;
	border: 2px solid @border-color;
    background-color: @cc-bg;
    font-size: 1.8em;
	border-width: 0 0 0;
}
.widget-volume>box>button {

	padding:0;
    background: transparent; 
	box-shadow:none;
    border: none;
}

.per-app-volume {
    background-color: @noti-bg-alt;
    padding: 4px 8px 8px 8px;
    margin: 8px ;
    border-radius: 12px
}
