window {
    background-color: rgba (10,18,27, 1);
    color:#9fffff;
    border-style:solid;
    border-width:2px;
    border-color:#019599;
	border-radius:16px;
	padding:0;
}

list {
    border-radius: 15px;
	background:none;
}

list box{
	background:none;
}

label:hover * {
    background-color: rgba(1,149,153,1);
}

label{
	color:#9fffff;
}

entry {
	padding:6px;
	color:#9fffff;
    background-color: rgba(22,42,64,1);
}

entry:hover{
    background-color: rgba(22,42,64, 1);
    color: rgba(22,42,64, 1);
	}

button {
	padding:8px;
	margin:0px;
	background: none;
    border: none;
}

button:hover {
    background-color: rgba (22,42,64, 0.5);
    color: rgba(22,42,64, 1);
}
