window {
    background-color: rgba (6,16,43, 1);
    color:#fcf4ff;
    border-style:solid;
    border-width:2px;
    border-color:#f175db;
	border-radius:12px;
	padding:0;
}

list {
    border-radius: 15px;
	background:none;
}

list box{
	background:none;
}

label:hover * {
    background-color: rgba(241,117,219,1);
}

label{
	color:#fcf4ff;
}

entry {
	padding:6px;
	color:#fcf4ff;
    background-color: rgba(11,31,87,1);
}

entry:hover{
    background-color: rgba(11,31,87, 1);
    color: rgba(11,31,87, 1);
	}

button {
	padding:8px;
	margin:0px;
	background: none;
    border: none;
}

button:hover {
    background-color: rgba (11,31,87, 0.5);
    color: rgba(11,31,87, 1);
}
