window {
    background-color: rgba (6,5,17, 1);
    color:#f6f2ff;
    border-style:solid;
    border-width:1px;
    border-color:#4585ff;
	border-radius:16px;
	padding:0;
}

list {
    border-radius: 15px;
	background:none;
}

list box{
	background:none;
}

label:hover * {
    background-color: rgba(69,133,255,1);
}

label{
	color:#f6f2ff;
}

entry {
	padding:6px;
	color:#f6f2ff;
    background-color: rgba(18,15,57,1);
}

entry:hover{
    background-color: rgba(18,15,57, 1);
    color: rgba(18,15,57, 1);
	}

button {
	padding:8px;
	margin:0px;
	background: none;
    border: none;
}

button:hover {
    background-color: rgba (18,15,57, 0.5);
    color: rgba(18,15,57, 1);
}
