:root {
  --main-bg-color: rgb(0, 1, 10);
  --main-fg-color: #ff2c76;
  --alt-fg-color: #ffffff;

  --main-title-color: var(--alt-fg-color);
  --alt-title-color: var(--main-fg-color);

  --border-color: var(--main-fg-color);
  --main-bg-grad: linear-gradient(
    to bottom,
    rgba(255, 0, 191, 0.764),
    rgba(169, 2, 80, 0.349),
    rgba(131, 4, 63, 0.158),
    #000
  );
}