:root {
  --main-bg-color: rgb(0, 1, 10);
  --main-fg-color: #ff2c76;
  --alt-fg-color: #ffffff;

  --main-title-color: var(--alt-fg-color);
  --alt-title-color: var(--main-fg-color);

  --border-color: var(--main-fg-color);
  --main-bg-grad: linear-gradient(
     to bottom,
    rgb(225, 11, 171),
    rgba(0, 0, 0, 0.212)
  );
}