:root {
  --main-bg-color: rgba(0, 0, 0,.75);
  --main-fg-color: #a600ff;
  --alt-fg-color: #ffffff;

  --main-title-color: var(--alt-fg-color);
  --alt-title-color: var(--main-fg-color);

  --border-color: var(--main-fg-color);
  --main-bg-grad: linear-gradient(
     to bottom,
    rgba(171, 11, 225, 0.624),
    rgba(0, 0, 0, 0)
  );
}


/*##############################################*/
/*                   FONTS                      */
/*##############################################*/
@font-face {
  font-family: "Good Times";
  src: url(../fonts/good\ times\ rg.otf);
}

@font-face {
  font-family: "Virus Killer";
  src: url(../fonts/Virus\ Killer.ttf);
}

@font-face {
  font-family: "Sauce Code Pro";
  src: url(../fonts/Sauce\ Code\ Pro\ Nerd\ Font\ Complete.ttf);
}

@font-face {
  font-family: "Guttural";
  src: url(../fonts/Guttural_by_Meztone.ttf);
}
