
*{
  all:unset;
}

window{
	background-color: black;
}

window box {
	margin:8px;
}

.greeter{
  border-radius:10px; 
  border-width:2px; 
  border-style:solid; 
  border-color:red;
}

button {
	border-radius:8px;
}

.amogus{
	background-color:red;
}

.sussy{
	background-color:blue;
}

