window {
    background-color:#080C15 ;
    color:#ffdbfd 
}

/* search entry */
entry {
	padding:8px;
	border-radius:16px;
    background-color: #152447;
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba (185,66,102, 0.2)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
