/***********
 * toolbar *
 ***********/
toolbar {
    padding: 4px;
    border-style: none;
    background-color: @tooltip_bg_color;
    background-image: none;
}

toolbar button {

	border: solid transparent 2px;
	border-radius:8px;
	margin: 2px;
    padding: 4px;
}

toolbar button.text-button {
    padding: 4px;
}

toolbar button.path-bar-button {
	padding: 4px;
}

toolbar button.image-button {
    padding: 4px;
}

toolbar:disabled {
    background-color: @bg_color;
}

/* menubar toolbars */
toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

linked entry:active,
linked entry:focus {
    box-shadow: inset 0px 0 transparent;
}
